:root {
  --border-rgb: #cacaca;
  --border-rad-small: 8px;
}

.d-none {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-right {
  display: flex;
  justify-content: end;
}

.flex-left {
  display: flex;
  justify-content: start;
}
