html {
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 15px 0;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.chart_header {
  margin-left: 10px;
}

.chart_section_header {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
}

.chart_section_render {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chart_section_header h1 {
  text-transform: capitalize;
}

.heading_underline {
  height: 3px;
  width: 90px;
  background-color: #000;
  margin: 0 auto;
}

.chart_container {
  border: 1px solid var(--border-rgb);
  border-radius: var(--border-rad-small);
  width: 90vw;
  margin: 0 auto;
  align-items: center;
}
